<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:0">
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"200px","bottom":"200px"}}},"backgroundColor":"tertiary","textColor":"base","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-base-color has-tertiary-background-color has-text-color has-background" style="padding-top:200px;padding-bottom:200px">
        <!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"12vw","fontStyle":"italic","lineHeight":"0.8"}},"fontFamily":"display"} -->
        <h1 class="has-text-align-center has-display-font-family" style="font-size:12vw;font-style:italic;line-height:0.8">OUT OF <br>BOUNDS</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center","style":{"typography":{"letterSpacing":"0.5em"}}} -->
        <p class="has-text-align-center" style="letter-spacing:0.5em">ERROR 404: PAGE NOT FOUND</p>
        <!-- /wp:paragraph -->

        <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search this site...","buttonText":"Search","buttonPosition":"button-inside","style":{"border":{"radius":"0px"}}} /-->

        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"2rem"}}}} -->
        <div class="wp-block-buttons" style="margin-top:2rem">
            <!-- wp:button {"backgroundColor":"primary","textColor":"contrast"} -->
            <div class="wp-block-button"><a href="/" class="wp-block-button__link has-contrast-color has-primary-background-color has-text-color has-background wp-element-button">Return to Home</a></div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
