
<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"fl-coastal-prep/section-header"} /-->
    <!-- wp:query {"query":{"postType":"faculty","inherit":true}} -->
    <div class="wp-block-query">
        <!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
            <!-- wp:post-featured-image /-->
            <!-- wp:post-title {"isLink":true,"fontFamily":"display"} /-->
            <!-- wp:post-excerpt /-->
        <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
</main>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
