
<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"fl-coastal-prep/section-header"} /-->
    <!-- wp:query {"query":{"postType":"schedule","inherit":true}} -->
    <div class="wp-block-query">
        <!-- wp:post-template -->
            <!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"}} -->
            <div class="wp-block-group">
                <!-- wp:post-title {"isLink":true} /-->
                <!-- wp:post-excerpt /-->
            </div>
            <!-- /wp:group -->
        <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
</main>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
